* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12, 33, 43);
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    
    
}
a { 
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: initial;
}
/* The :hover selector is used to select elements when you mouse over them. */
a:hover {
    /*  */
    background-color: #666;
}

a .active {
    color: darkred;
    background-color: #111;
}

h1 {
    color: whitesmoke;
    margin-top: 65px;
}

.contacth {
    color: rgb(151, 14, 14);
    text-align: center;
}
h2 {
    margin-top: 70px;
}

.name {
    margin-top: 130px;
}

.box {

    text-align: center;
    padding: 1px;
    border: 2px solid;
    margin-left: 450px;
    margin-right: 450px;

}

.button1 {
    margin: 2px;
    padding: 2px;

    box-shadow: darkred;
}