* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.home-text {
    background-color: rgba(0, 0, 0, 0.623);
    color: whitesmoke;
    border: 3px solid #f4f5f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    width: 450px;
    height: 300px;
    margin-top: 0px;
    font-size: 20px;
}

nav {
    font-family: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(112, 112, 112);
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    opacity: 90%;
    
    
}
a { 
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    /*  */
    background-color: rgb(92, 92, 92);
    color: rgb(151, 14, 14);
}

a .active {
    color: red;
    background-color: #111;
}

h1 {
    color: whitesmoke;
    margin-top: 65px;
}

.active {
    color: rgb(151, 14, 14);
    text-align: center;
}
h2 strong{
    margin-top: 20px;
}


.box {

    text-align: center;
    padding: 1px;
    border: 6px ridge rgb(151, 14, 14) ;
    margin-left: 450px;
    margin-right: 450px;

}

.button1 {
    margin: 2px;
    padding: 2px;

    box-shadow: darkred;
}

.in {
    font-display: roboto;
}

.homep {
    color: rgb(255, 255, 255);
    text-align: center;
}

#d {
    font-family: -apple-system;
}

input:focus {
    color: darkred;
  }

input {
    color: black;
}

::placeholder {
    color: black;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(112, 112, 112);
    color: whitesmoke;
    position: fixed;
    opacity: 90%;
}
.copyright {
    margin: 0;
    padding: 2px 0px;
    text-align: center;
}
.designed {
    margin: 0;
    padding: 2px 0px;
    text-align: right;
}
.designed a:hover {
    color:rgb(151, 14, 14);
}

.mydetails {
    color: whitesmoke;
}
