* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.home-text {
    background-color: rgba(0, 0, 0, 0.623);
    color: whitesmoke;
    border: 3px solid #f4f5f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    width: 450px;
    height: 300px;
    margin-top: 0px;
    font-size: 20px;
}

nav {
    font-family: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(112, 112, 112);
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    opacity: 90%;
    text-shadow: 0 0.04em 0.04em black;
    
}
a { 
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: initial;
}
a:hover {
    /*  */
    background-color: rgb(92, 92, 92);
    color: rgb(151, 14, 14);
}


h1 {
    color: whitesmoke;
    margin-top: 65px;
    text-shadow: 0 0.04em 0.04em black;
}

.active {
    color: rgb(151, 14, 14);
    text-align: center;
}
h2 strong{
    margin-top: 20px;
}


.box {

    text-align: center;
    padding: 1px;
    border: 6px ridge rgb(151, 14, 14) ;
    margin-left: 450px;
    margin-right: 450px;

}
.button1{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em grey;
    text-align:center;
    transition: all 0.15s;
}
.button1:hover{
    text-shadow: 0 0 2em grey;
    color: darkred;
    border-color: darkred;
}

@media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
}
    }

.in {
    font-display: roboto;
}

.homep {
    color: rgb(255, 255, 255);
    text-align: center;
}

#d {
    font-family: -apple-system;
}

input:focus, .container a:hover {
    color: darkred;
  }

input::placeholder {
    color:black;
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(112, 112, 112);
    color: whitesmoke;
    position: fixed;
    opacity: 90%;
}
.container {
    margin: 0;
    padding: 2px 0px;
    text-align: center;
}



.mydetails {
    color: whitesmoke;
}
